<div class="modal-parent">
    <div class="modal-header">
        <div class="modal-img">
            <h3 class="modal-title"><%= title %></h3>
        </div>
    </div>
    <div class="modal-body">
        <%= content %>
    </div>
    <div class="modal-footer">
        <%= footer %>
    </div>
</div>
